// Colors
$clr-primary: #caa564;
$clr-secondary: #226192;
$clr-secondary-dark: #0a407f;
$clr-secondary-darker: #194984;
$clr-secondary-very-dark: #002048;
$clr-secondary-darkest: #00003c;
$clr-tertiary: #232536;
$clr-red: #db1c1c;
$clr-green: #007e21;
$clr-grey: #6d6e76;

// Breakpoints
$bp-xs: 425px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// Font
$font-base: 'Karantina';
$font-alt: 'Inter';

// Others
$layout-spacing: clamp(21px, 5.3vw, 80px);
