@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.overflow-hidden {
	overflow: hidden;
}
.flex {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}
.dis-none {
	display: none !important;
}
.rotate-180 {
	rotate: 180deg;
}
